@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
.hero-msg{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.home-title {
    font-family: 'Titan One' ;
    font-size: 2em;
}
.book {
    font-family: 'Titan One';
    font-size: 2em;
}
.join {
    font-family: 'Titan One';
    font-size: 18px;
}
.msg p{
    font-family: 'Titan One';
    font-size: auto;
    line-height: 1.5em;
}
.msg{
    background-color: #6f7364;
}

 
      







nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}





#background {
    height: 725px;
}
body {
    background-color: whitesmoke; 
}
header {
    background-color: rgb(34, 58, 56)

}
nav a:hover {
    background-color:yellow;
}






nav a:hover {
    background-color: rgb(6, 44, 45);
    color:yellow;
} 
.home-title{
    background-color: white;
    color: #d9c2a3;
}
h4 {
    background-color: white;
    color: #d9c2a3;
}
.book{
 background-color: #000000;
 color: #d9c2a3;
}
.join{
    background-color: black;
    color: #d9c2a3;
}
.book:hover{
    background-color: #000000;
    color: yellow;
}
.join:hover{
    background-color: #000000;
    color: yellow;
}
.msg h2{
    background-color: #000000;
    color: #d9c2a3;
}
.msg p{
    background-color: black;
    color: #d9c2a3;
}
footer{
    background-color: #000000;
    color: #d9c2a3;
}
footer a {
    background-color: #000000;
    color: #d9c2a3;
}
footer a:hover{
    background-color: #000000;
    color: yellow;
}
#background{
    background-color: #d9c2a3;
}




























.icon {
    width: 80px;
}  
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
 
.book{
   text-align: center;
   color: #fcfbfb;
    text-decoration: none;

}
.join{
    text-align: center;
   color: #fcfbfb;
    text-decoration: underline;
}
footer a{
    text-align: center;
    color: #fcfbfb;
     text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
}














.join
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
} 

#logo_link{
    text-align: left;
    color: aquamarine;
    
}
.logo{
    width: 150px;
}
#hero{
    text-align: center;
}
#hero-msg{
    text-align: center;
}
#button-box{
    text-align: center;
}
.launch-box{
    text-align: center;
}
.social{
    text-align: center;
}
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.book {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
#logo_link{
    padding-top: 5px;
}
.book{
    padding: 15px;
}
.join{
    padding: 30px;
}
.icon{
    padding-top: 10px;
}
.msg{
    padding: 35px;
}
.msg p{
    padding-bottom: 15px;
}
.footer{
    padding: 25px 50px;
}
footer .social img {
    padding-top: 15px;
}
